<div>
<div class="logo">
  <img src="./../h1.jpg"a routerLink="/home-component">
</div>
<nav>
  <ul>
    <li><a routerLink="/home-component" routerLinkActive="inactive" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
    <li><a routerLink="/gallery-component" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a></li>
    <li><a routerLink="/blog-component" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a></li>
    <li><a routerLink="/contactus-component" routerLinkActive="active" ariaCurrentWhenActive="page">Contact us</a></li>
    <li><a routerLink="/references-component" routerLinkActive="active" ariaCurrentWhenActive="page">References</a></li>

    <input type="search">
    
  </ul>
</nav>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>